<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img alt="Logo WK Technology" class="h-8 w-auto" src="assets/images/wk-logo.png">
          </div>

          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a routerLink="clientes" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">
                Clientes
              </a>

              <a routerLink="produtos" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                Produtos
              </a>

              <a routerLink="vendas" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                Vendas
              </a>
            </div>
          </div>
        </div>

        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" type="button">
              <bell-icon></bell-icon>
            </button>

            <div class="relative ml-3">
              <div>
                <button class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" type="button">
                  <img alt="User avatar" class="h-8 w-8 rounded-full" src="assets/images/avatar.png">
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <button
            (click)="toggleDropdownMenu()"
            class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" type="button">
            <bars-icon *ngIf="!showDropdownMenu"></bars-icon>
            <x-mark-icon *ngIf="showDropdownMenu"></x-mark-icon>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="showDropdownMenu" class="border-b border-gray-700 md:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 py-3 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a routerLink="clientes" class="bg-gray-900 text-white px-3 py-2 rounded-md text-base font-medium">
          Clientes
        </a>

        <a routerLink="produtos" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">
          Produtos
        </a>

        <a routerLink="vendas" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#">
          Vendas
        </a>
      </div>
    </div>
  </nav>

  <main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
